@import "../../styles/variables";
.field-text-unity {
  position: relative;
  display: flex;
  flex-direction: row;

  .arrow-down {
    cursor: pointer;
    width: 8px;
    height: 5px;
    stroke: black;
    margin-left: 10px;
    vertical-align: middle;
  }

  & > label {
    position: absolute;
    font-size: 13px;
    top: 11px;
    left: 0;
  }

  .value-left {
    width: 100%;
  }

  input[type="text"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    outline: none;
    height: 40px;
    border: 0;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px solid $silver;
    margin-bottom: 15px;
    font-family: "Open Sans";
  }

  .unity-right {
    font-size: 13px;
    color: $lead;
    display: block;
    padding-left: 5px;
    white-space: nowrap;
    border-bottom: 1px solid $silver;
    height: 40px;
    cursor: pointer;
    outline: none;
    line-height: 40px;

    strong {
      font-weight: normal;
      color: $black;
    }

    &.dropdown {
      outline: none;
    }

    span {
      outline: none;
    }
  }

  &.error {
    .unity-right,
    input[type="text"] {
      border-bottom: 1px solid $grenade;
    }
  }
}
