{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "__VERSION__": false,
    "__DEBUG__": false,
    "__ENV__": false,
    "__DEV__": false
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier"
  ],
  "plugins": ["flowtype", "react"],
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "flowtype/generic-spacing": 0,
    "flowtype/space-after-type-colon": 0,
    "import/no-named-as-default": 0,
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
