@import "../../styles/_variables";

.tooltip-label {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.04), 0 10px 10px 0 rgba(0, 0, 0, 0.04);
  font-size: 11px;
  padding: 30px;
  background: white;
  color: black;
  width: 350px;

  &:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin-left: -15px;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 15px;
  }

  .hr {
    width: 100%;
    height: 1px;
    background-color: $argile;
    margin: 0;
    margin-bottom: 17px;
  }

  .tooltip-label-title {
    text-transform: initial;
    font-size: 13px;
    margin: 0;
    font-weight: 600;
  }

  .tooltip-label-name {
    text-transform: initial;
    font-size: 11px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 19px;
    color: $lead;
  }

  .tooltip-label-body {
    text-transform: initial;
    font-size: 11px;
    line-height: 1.82;
    font-weight: normal;
    margin: 0;
    white-space: normal;
  }
}

.OperationNoteLink {
  position: relative;
  .tooltip-label {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 100;
    position: absolute;
    bottom: 30px;
    left: -150px;
  }
  &:hover .tooltip-label {
    opacity: 1;
  }
}

table.data-table {
  thead {
    tr:before {
      opacity: 0;
    }
  }
  tr:before {
    background: $ocean;
    content: "";
    height: 26px;
    width: 0px;
    position: absolute;
    margin-left: -42px;
    margin-top: 6px;
  }
  tr {
    &:hover {
      &:before {
        width: 5px;
        -webkit-transition: width 200ms ease;
        -o-transition: width 200ms ease;
        transition: width 200ms ease;
      }
    }
  }
  td.countervalue,
  td.amount,
  th.amount {
    text-align: right;
  }
  td.date {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
  }
  td.account {
    font-size: 13px;
  }
  td.countervalue {
    font-size: 13px;
    color: #767676;
  }
  td.address {
    .type {
      font-size: 10px;
      color: #767676;
      font-weight: 600;
      width: 36px;
      padding-right: 5px;
      display: inline-block;
    }
    .hash {
      font-size: 11px;
    }
  }
  td.status {
    font-size: 11px;
    color: #767676;
  }
  td.amount {
    font-size: 13px;
    .currency-unit-value.sign-positive {
      font-weight: 600;
    }
  }
}
