@import '../../styles/variables';

.operation-overview-header {
  text-align: center;

  .crypto-amount {
    color: $black;
    letter-spacing: -0.9px;
    font-size: 22px;
    margin: 0;
    margin-bottom: 12px;
  }

  .arrow-grey-down {
    fill: $silver;
    width: 16px;
    height: 10px;
  }

  .hash {
    font-size: 13px;
    margin-bottom: 30px;
  }
}
