@import '../../styles/mixins';
@import '../../styles/variables';

.Menu {
  ul {
    list-style-type: none;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 10px 0;
    height: 18.5px;
    position: relative;
  }

  a {
    @include highlight-block($porto, -40px);

    &.active {
      opacity: 1;
      @include highlight-block-active($porto, -40px);
    }
  }

  .material-icons {
    font-size: 13px !important;
    margin-right: 10px;
  }

  .menu-badge {
    position: absolute;
    right: 0;
    background-color: $grenade;
    color: $white;
    padding: 0 .6em;
    border-radius: 1em;
  }

  .menu-accounts {
    h4 {
      color: $black;
      font-size: 11px;
      font-weight: 600;
      margin-bottom: 20px;
      margin-top: 40px;
      text-transform: uppercase;
    }

    .accounts-menu-list {
      li {
        height: 26px;
        margin: 0;
        line-height: 26px;

        a {
          text-transform: initial;
          font-size: 13px;
          color: $black-5;

          &:hover,
          &.active {
            color: $black;
          }

          &.bitcoin {
            @include highlight-block($bitcoin, -40px);

            &.active {
              @include highlight-block-active($bitcoin, -40px);
            }
          }

          &.dogecoin {
            @include highlight-block($dogecoin, -40px);

            &.active {
              @include highlight-block-active($dogecoin, -40px);
            }
          }

          &.litecoin {
            @include highlight-block($litecoin, -40px);
            &.active {
              @include highlight-block-active($litecoin, -40px);
            }
          }

          &.ethereum {
            @include highlight-block($ethereum, -40px);
            &.active {
              @include highlight-block-active($ethereum, -40px);
            }
          }
        }

        .unit {
          float: right;
          font-size: 10px;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
