@import '../../styles/variables';

.slidebox {
  width: 26px;
  height: 2px;
  background: $mouse;
  margin: 20px auto;
  position: relative;
  display: inline-block;
  vertical-align: middle;

	span {
		display: inline-block;
		width: 26px;
		height: 2px;
		background: $mouse;
		position: absolute;
		left: 0;
    transition: all 100ms ease;
	}

  label {
    width: 26px;
    height: 14px;
		position: absolute;
    left: 0;
    top: -7px;
    cursor: pointer;


		&:before {
			content: '';
			display: block;
			width: 14px;
			height: 14px;
			position: absolute;
			top: 1px;
			left: -1px;
			background: $mouse;
			border-radius: 50%;
			transition: all 100ms cubic-bezier(0.22, 0.61, 0.36, 1);
			box-shadow: 0 2.5px 2.5px 0 $black-05;
		}
  }

  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:before {
      left: 13px;
			background: #27d0e2;
    }  

    &:checked + label + span {
			background: #27d0e2;
    }  
  }
}

