@import '../../styles/variables';

.vlt-dialog-btn {
  border: 0;
  background: none;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: $lead;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: inherit;
  line-height: 1em;
  padding-bottom: $spacingL;
  transition: opacity 500ms ease;

  &:focus {
    outline: none;
  }

  &:hover::after {
    content: '';
    display: block;
    background-color: $lead;
    width: 100%;
    height: 5px;
    margin-top: $spacingL - 5px;
    position: absolute;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;

    &:hover::after {
      cursor: default;
      opacity: 0;
    }
  }

  &.highlight {
    color: $porto;

    &:hover::after {
      background-color: $porto;
    }
  }

  &.cancel {
    &.highlight {
      color: $lead;

      &:hover::after {
        background-color: $lead;
      }
    }
  }
}
