@import "../../styles/variables";
@import "../../styles/animations";

.account-view {
  .account-view-infos {
    display: flex;

    .infos-left-top {
      display: flex;
    }

    .bloc.countervalue,
    .bloc.balance {
      width: 50%;
      height: 161px;
      display: inline-block;
      margin-bottom: 20px;
      margin-right: 20px;
    }

    .funds {
      margin-right: 20px;
      height: 218px;

      canvas {
        float: left;
        margin-left: 1px;
      }

      .right {
        margin-left: 130px;
        margin-top: -2px;
        padding: 0;

        h4 {
          color: $lead;
          font-weight: 600;
          margin: 0;
          padding: 0;
          font-size: 10px;
          text-transform: uppercase;
        }

        .hash {
          font-size: 13px;
          color: $black;
          word-wrap: break-word;
        }

        .info {
          color: $lead;
          font-size: 11px;
          line-height: 1.82;
          max-width: 482px;
        }
      }
    }

    .infos-left {
      width: 65.4%;
    }
    .quicklook {
      height: 399px;
      width: 34.6%;
      .quickLookGraphWrap {
        height: 208px;
        width: 100%;
        .QuicklookGraph {
          width: 100%;
          height: 100%;
          .chartWrap {
            width: 100%;
            height: 100%;
          }
        }
      }
      .bloc-content {
        .dateLabel {
          font-size: 11px;
          color: $steel;
          padding-top: 30px;
          text-align: right;
        }
        header {
          .react-tabs__tab-list {
            width: 100%;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-pack: justify;
            justify-content: space-around;
            padding-bottom: 0px;
            li {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .account-view {
    .account-view-infos {
      .infos-left {
        width: 100%;
      }

      .quicklook {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .account-view {
    .bloc {
      h3 {
        display: none;
      }
    }

    .account-view-infos {
      .funds {
        height: auto;
      }
    }
  }
}
