@import './variables';

.arrow-grey-down {
  color: $silver;
}

.open-label {
  width: 20px;
  height: 12px;
  cursor: pointer;
  display: inline-block;
  background: $argile;
  vertical-align: middle;
  margin-left: 14px;

  &:hover {
    background: grey;
  }
}

.confirmed {
  background-color: #27d0e2;
  border-radius: 50%;
  display: inline-block;
  height: 11px;
  vertical-align: middle;
  width: 11px;
}
