@import './variables';

.tooltip-label {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.04), 0 10px 10px 0 rgba(0, 0, 0, 0.04);
  font-size: 11px !important;
  padding: 30px !important;
  background: white !important;
  color: black !important;
  width: 350px !important;

  &:after {
    border-top-color: white !important;
    border-top-style: solid !important;
    border-top-width: 15px !important;
  }

  .hr {
    width: 100%;
    height: 1px;
    background-color: $argile;
    margin: 0;
    margin-bottom: 17px;
  }

  .tooltip-label-title {
    text-transform: initial !important;
    font-size: 13px;
    margin: 0;
    font-weight: 600;
  }

  .tooltip-label-name {
    text-transform: initial !important;
    font-size: 11px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 19px;
    color: $lead;
  }

  .tooltip-label-body {
    text-transform: initial !important;
    font-size: 11px;
    line-height: 15px;
    font-weight: normal;
    margin: 0;
  }

}

.list {
  background: white;
  padding: 40px;
  position: relative;

  h2 {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 18px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      height: 46px;
      text-transform: uppercase;
    }

    td.align-right {
      text-align: right;
    }

    thead td {
      font-size: 10px;
      font-weight: 600;
      color: $lead;
    }

    thead tr {
      height: 30px;
    }

    tbody tr {
      border-bottom: 1px solid $argile;
      cursor: pointer;

      &:last-child {
        border-bottom: 0;
      }


      &:hover {
        td.date:before {
          width: 5px;
        }
      }

      td.date {
        font-size: 10px;
        font-weight: 600;
        color: $black;
        font-size: 10px;
        position: relative;
        width: 200px;

        &:before {
          transition: width 200ms ease;
          background: $hoverblue;
          content: '';
          height: 26px;
          width: 0px;
          position: absolute;
          left: -40px;
          top: 50%;
          margin-top: -13px;
        }
      }

      td.type {
        color: $lead;
        font-size: 10px;
        width: 50px;
      }

      td.status {
        text-align: left;
        font-size: 11px;
        color: $lead;
        text-transform: initial;
      }

      td.hash {
        font-size: 11px;
        text-transform: initial;
        color: $black;
      }

      td.amount-euro,
      td.anount-crypto {
        font-size: 13px;
        text-align: right;
      }

      td.amount-euro {
        color: $lead;
      }

      td.amount-crypto {
        color: $black;
        text-align: right;
        font-size: 13px;

        &.positive {
          font-weight: 600;
        }
      }
    }
  }
}
