@import "./variables";

.list {
  background: white;
  padding: 40px;
  position: relative;
  box-shadow: 0 2.5px 2.5px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;

  h2 {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 18px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      height: 46px;
      text-transform: uppercase;
    }

    td.align-right {
      text-align: right;
      span {
        text-align: right;
      }
    }

    thead td,
    thead td span {
      font-size: 10px;
      font-weight: 600;
      color: $lead;
    }

    thead tr {
      height: 30px;
    }

    tbody tr {
      border-bottom: 1px solid $argile;
      cursor: pointer;

      &:last-child {
        border-bottom: 0;
      }

      &:hover {
        td.date:before {
          width: 5px;
        }
      }

      td.date,
      td.date span {
        font-size: 10px;
        font-weight: 600;
        color: $black;
        font-size: 10px;
        position: relative;
        width: 200px;

        &:before {
          transition: width 200ms ease;
          background: $hoverblue;
          content: "";
          height: 26px;
          width: 0px;
          position: absolute;
          left: -40px;
          top: 50%;
          margin-top: -13px;
        }
      }

      td.adress {
        span.type {
          color: $steel;
          font-size: 10px;
          width: 50px;
        }
        span.hash {
          font-size: 11px;
          text-transform: initial;
          color: $black;
          width: 300px;
          margin-left: 20px;
        }
      }

      td.status span {
        text-align: left;
        font-size: 11px;
        color: $lead;
        text-transform: initial;
      }

      td.amount-euro,
      td.amount-crypto,
      td.amount-euro span,
      td.amount-crypto span {
        font-size: 13px;
        text-align: right;
      }

      td.amount-euro,
      td.amount-euro span {
        color: $lead;
      }

      td.amount-crypto,
      td.amount-crypto span {
        color: $black;
        text-align: right;
        font-size: 13px;

        &.positive {
          font-weight: 600;
        }
      }
    }
  }
}
