@import "./variables";

@mixin opacity($opacity) {
  opacity: $opacity;
  transition: opacity 0.2s ease;

  &.active,
  &:hover {
    opacity: 1;
  }
}

@mixin highlight-block-common($color) {
  &::before {
    content: "";
    cursor: pointer;
    background-color: $color;
    width: 0px;
    height: 26px;
    display: block;
    position: absolute;
    bottom: calc(50% - (26px / 2));
    opacity: 1;
    transition: width 0.2s ease;
  }

  &.active {
    cursor: default;
  }

  &:hover::before {
    opacity: 1;
    width: 5px;
  }
}

@mixin highlight-block($color, $left) {
  @include highlight-block-common($color);

  &::before {
    left: $left;
  }
}

@mixin highlight-block-right($color, $right) {
  @include highlight-block-common($color);

  &::before {
    right: $right;
  }
}

@mixin highlight-block-active($color, $left) {
  opacity: 1;
  &::before {
    content: "";
    background-color: $color;
    width: 5px;
    height: 26px;
    display: block;
    position: absolute;
    left: $left;
    opacity: 1;
    bottom: calc(50% - (26px / 2));
    transition: opacity 0.2s ease;
  }
}
