@import "./mixins";
@import "./animations";
@import "./variables";

#blurdialog {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: black;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper-modal {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
}

.modal {
  overflow: hidden; // hiding scrollbar
  animation: modal 100ms ease;
  background: white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.04);
  margin: auto;
  position: relative;
  z-index: 2;

  .tab-title {
    font-size: 11.5px;
    font-weight: 600;
    line-height: 1.7;
    text-transform: uppercase;
  }

  header,
  .header {
    position: relative;
    z-index: 1;
    padding: $spacingL $spacingL 0 $spacingL;

    h2 {
      font-weight: normal;
      color: $black;
      font-size: 18.4px;
      letter-spacing: -0.4px;
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  .tabs_panel[class*="--selected"] {
    height: 100%;
    animation: tab 200ms ease;
  }

  .react-tabs__tab {
    transition: opacity 500ms ease;
  }

  .react-tabs__tab--disabled {
    opacity: 0.5;
    cursor: default;
  }

  .content {
    position: relative;
    flex: 1 1 auto;
    height: 429px;
    padding: $spacingL $spacingL;
  }
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer {
    padding: 0 $spacingL 0 $spacingL;
    position: relative;
    z-index: 1;
  }
}

.modal .small-modal {
  box-sizing: border-box;
  width: 445px;
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    padding-bottom: 0;
    position: static;
  }

  h3 {
    font-size: 18.4px;
    letter-spacing: -0.4px;
    color: $black;
    font-weight: normal;
    margin: 0;
  }

  .content {
    height: auto;
    min-height: auto;
    padding-left: 39px;
    padding-right: 35px;
    padding-top: 20px;
    margin: 0;
    position: relative;
  }

  .info {
    font-size: 11px;
    color: $lead;
    line-height: 1.82;
    margin: 0;
  }

  .form-field-checkbox {
    outline: none;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;

    & > label {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      color: $black;
    }

    .slidebox {
      position: absolute;
      right: 0;
      top: -7px;
    }
  }

  .form-field {
    position: relative;

    & > label {
      position: absolute;
      top: 10px;
      font-size: 13px;
    }

    &.error {
      input[type="text"] {
        border-bottom: 1px solid $grenade;
      }
    }

    & > span {
      font-size: 13px;
      color: $lead;
      position: absolute;
      right: 0px;
      top: 10px;

      strong {
        font-weight: normal;
        color: $black;
      }

      &.dropdown {
        outline: none;
      }

      .arrow-down {
        cursor: pointer;
        width: 8px;
        height: 5px;
        stroke: black;
        margin-left: 10px;
        vertical-align: middle;
      }
    }
  }

  input[type="text"] {
    display: block;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 40px;
    border: 0;
    text-align: right;
    padding-right: 179px;
    font-size: 13px;
    border-bottom: 1px solid $silver;
    margin-bottom: 15px;

    &.small-padding {
      padding-right: 66px;
    }
    &.medium-padding {
      padding-right: 151px;
    }
  }

  .footer {
    position: static;
  }
}

.frequency-bubble {
  box-sizing: border-box;
  width: 100px;
  padding: 20px;
  font-size: 13px;
  outline: none;

  .frequency-bubble-row {
    cursor: pointer;
    position: relative;
    height: 26px;
    line-height: 26px;
    outline: none;

    @include highlight-block($porto, -20px);
    &.active {
      @include highlight-block-active($porto, -20px);
    }
  }
}
