@import './animations';
@import './variables';

.modal {
  padding: 0;

  & > div {
    height: 100%;

    & > div {
      height: 100%;

      & > div {
        min-height: 300px;
        max-height: calc(100% - 128px);
        height: 100%;
        
        & > div {
          height: 100%;
          
          & > div {
            height: 100%;
          }
        }
      }
    }
  }

  .tabs_panel[class*='--selected'] {
    animation: tab 200ms ease;
  }

  .tabs_panel[class*='--selected'] {
    animation: tab 200ms ease;
  }
  .react-tabs__tab {
    transition: opacity 500ms ease;
  }

  .react-tabs__tab--disabled {
    opacity: 0.5;
  }

  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {
    position: relative;
    z-index: 1;
    padding: $spacingL $spacingL 0 $spacingL;
    // margin-right: $spacingL;
    // background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.9) $spacingL, white ($spacingL * 1.5));
    
    h2 {
      font-weight: normal;
      color: $black;
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  .content {
    position: relative;
    flex: 1 1 auto;
    // overflow-y: auto;
    min-height: 0px;
    padding: 0 $spacingL;

    // .overscroll > div {
    //   padding-right: $spacingL / 2;
    //   padding-left: $spacingL / 2;
    // }
    // margin: -40px 0;
    // padding: ($spacingL * 2) ($spacingL / 2 + 3) ($spacingL * 2) $spacingL;
    // margin: ($spacingL * -2) ($spacingL / 2 - 3) ($spacingL * -2) 0;

    // &::-webkit-scrollbar {
    //   width: 6px;
    // }
    
    // &::-webkit-scrollbar-track {
    //   opacity: 0;
    //   width: 6px;
    // }

    // &::-webkit-scrollbar-thumb {
    //   // border-radius: 6px;
    //   background-color: $silver;
      
    //   &:hover {
    //     background-color: $lead;
    //   }
    // }

    // .original {
    //   position: relative;
    //   background: white;
    //   overflow-y: auto;
    //   margin: 40px 0;
    // }

    // .copy {
    //   position: absolute;
    //   top: 0;
    //   width: calc(100% - #{($spacingL * 2 + 6)});
    //   filter: blur(3px);
    //   overflow: hidden;
    //   padding: $spacingL 0 ($spacingL * 2);
    // }
  }

  .footer {
    position: relative;
    z-index: 1;
    padding: 0 $spacingL;
    // margin-right: $spacingL;
    // background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.9) $spacingL, white ($spacingL * 1.5));
  }
}

.modal-loading {
  text-align: center;
  height: 640px;
  padding-top: 250px;
}

.modal .account-creation-approvals {
  box-sizing: border-box;
  width: 445px;

  header {
    padding-bottom: 0;
  }

  h3 {
    font-size: 18.4px;
    letter-spacing: -0.4px;
    color: $black;
    font-weight: normal;
    margin: 0;
  }

  .content {
    height: 180px;
    margin-top: 85px;
    padding-left: 39px;
    padding-right: 35px;
    position: relative;
  }

  .info {
    font-size: 11px;
    color: $lead;
    line-height: 1.82;
    margin: 0;
  }

  input[type="text"] {
    display: block;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 40px;
    border: 0;
    text-align: right;
    padding-right: 179px;
    font-size: 13px;
    border-bottom: 1px solid $silver;
    margin-bottom: 15px;
  }
  
  label {
    position: absolute;
    top: 10px;
    font-size: 13px;
  }

  .count {
    font-size: 13px;
    color: $lead;
    position: absolute;
    right: 40px;
    top: 10px;
  }

}

