//
// Common variables
//

// Spacing
$spacingS: 20px;
$spacingL: 40px;

// Colors
$black: #000000;
$black-5: rgba(0, 0, 0, 0.5);
$black-05: rgba(0, 0, 0, 0.05);
$grenade: #ea2e49;
$porto: #27d0e2;
$night: #1d2028;
$argile: #eeeeee;
$silver: #cccccc;
$mouse: #e2e2e2;
$lead: #999999;
$white-50: rgba(255, 255, 255, 0.5);
$black-50: rgba(0, 0, 0, 0.5);
$white: #ffffff;
$cream: #f9f9f9;
$steel: #767676;
$ocean: #27d0e2;

$hoverblue: #27d0e2;

// FIXME drop these, they are provided in the currencies
$bitcoin: #fcb653;
$ethereum: #27d0e2;
$litecoin: #cccccc;
$dogecoin: #65d196;
$dash: #0e76aa;
$ethereum-classic: #3ca569;



//
// Layout
//

// Sidebar
$sidebarWidth: 280px;

// Actionbar
$actionbarHeight: 200px;
