@import "./icon";
@import "./modal";
@import "./list";
@import "./variables";

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9fa;
  overflow: hidden;
}
:focus {
  outline: none;
}

/* TODO migrate this CSS to the component "Card" and rename to card when all bloc migrated */
.bloc {
  background-color: white;
  padding: $spacingL;
  margin-bottom: 20px;
  box-shadow: 0 2.5px 2.5px 0 rgba(0, 0, 0, 0.04);
  position: relative;

  &.reloading .bloc-content {
    opacity: 0.5;
  }

  h3 {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: black;
    margin: 0 0 $spacingS 0; /* TODO move to header so it's aligned */
  }

  header {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .title-right {
      font-size: 11px;
      font-weight: 600;
      color: black;
    }
  }

  p {
    font-size: 13px;
    line-height: 1.77;
  }
}
