@import "../../styles/_variables";

.Select {
  .LabelSelectField {
    &:hover {
      cursor: pointer;
    }
  }
  .blue {
    .ArrowDown {
      display: inline-block;
      vertical-align: top;
      width: 11px;
      fill: $ocean !important;
      margin-top: 4px;
    }
    .label {
      display: inline-block;
      vertical-align: top;
      color: $ocean;
      margin-left: 10px;
    }
  }
  .black {
    .ArrowDown {
      display: inline-block;
      vertical-align: top;
      width: 11px;
      fill: $black !important;
      margin-top: 8px;
      float: right;
    }
    .label {
      display: inline-block;
      vertical-align: top;
      color: $black;
      margin-right: 10px;
    }
  }
}

.Select-menu .option {
  padding: 10px;
  opacity: 0.5;
  &:after {
    background: $ocean;
    content: "";
    height: 26px;
    width: 0px;
    position: absolute;
    margin-top: -5px;
    right: -21px;
    opacity: 0;
  }
  &.selected {
    opacity: 1;
    &:after {
      opacity: 1;
      width: 5px;
    }
  }
  &:hover {
    cursor: pointer;
    &:after {
      opacity: 1;
      width: 5px;
      -webkit-transition: width 200ms ease;
      -o-transition: width 200ms ease;
      transition: width 200ms ease;
    }
  }
}
