@import '../../styles/variables';
@import '../../styles/mixins';

.account-creation-security {
  h4 {
    font-size: 11px;
    font-weight: 600;
    color: $black;
    text-transform: uppercase;
    margin-top: 1px;
    margin-bottom: 29px;
  }

  .security-scheme-line {
    position: relative;
    height: 57.5px;
    line-height: 55px;
    cursor: pointer;

    @include highlight-block($porto, -40px);

    &.disabled {
      opacity: 0.5;
    }

    &.error {
      @include highlight-block-active($grenade, -40px);
    }
  }

  h5 {
    font-size: 10px;
    font-weight: 600;
    color: $lead;
    margin-bottom: 0px;
    text-transform: uppercase;
  }

  .security-scheme-name {
    font-size: 13px;
    color: $black;
    margin-left: 21px;
  }

  .security-scheme-value {
    font-size: 13px;
    color: $lead;
    float: right;
  }

  .security-scheme-hr {
    width: 100%;
    height: 1px;
    background-color: $argile;
  }

  .security-arrow-right {
    fill: $black;
    height: 5px;
    width: 8px;
    margin-left: 10.5px;
    transform: rotate(-90deg);
    vertical-align: middle;
  }

  .security-icon {
    fill: $mouse;
    display: inline;
    vertical-align: middle;
  }

  .security-icon-members {
    width: 15px;
    height: 13px;
  }

  .security-icon-approvals {
    width: 13px;
    height: 13px;
  }

  .security-icon-time-lock {
    width: 12px;
    height: 13px;
  }

  .security-icon-rate-limiter {
    width: 13px;
    height: 12.5px;
  }
}
