.modal.settings {
  width: 690px;
  height: 600px;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  position: relative;
  h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 2em;
  }
  h3 {
    font-size: 11px;
    line-height: 2em;
    font-weight: 600;
    text-transform: uppercase;
  }
  > aside {
    width: 250px;
    background-color: #f9f9f9;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: scroll;
    padding: 20px 30px;
    .accounts {
      flex: 1;
      .nav-account {
        display: block;
        padding: 20px 0px;
        border-bottom: 1px solid #e2e2e2;
        > * {
          opacity: 0.5;
        }
        position: relative;
        &.active {
          opacity: 1;
          &:before {
            width: 5px;
          }
        }
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          &:before {
            width: 5px;
          }
        }
        &:before {
          content: "";
          height: 22px;
          position: absolute;
          left: -30px;
          background-color: currentColor;
          top: 30px;
          width: 0px;
          -webkit-transition: width 0.2s ease;
          -o-transition: width 0.2s ease;
          transition: width 0.2s ease;
        }
        span {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .name {
          font-size: 13px;
          margin-bottom: 5px;
          color: #000;
        }
        .currency {
          font-size: 10px;
          font-weight: 600;
          text-transform: uppercase;
          color: #767676;
        }
      }
    }
    .footernotes {
      //padding: 10px 0px;
    }
    .version,
    .support {
      color: #767676;
      font-size: 11px;
      display: block;
      padding: 5px 0px;
      text-transform: uppercase;
    }
    .support {
      font-weight: 600;
    }
  }
  > .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    > * {
      padding: 0 20px;
    }
  }
  .account-settings {
    flex: 1;
    section {
      margin-bottom: 10px;
    }
    .security-scheme {
      display: flex;
      justify-content: space-around;
    }
  }
  .settings-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 39px;
    border-bottom: 1px solid #e2e2e2;
    &:last-child {
      border-bottom: none;
    }
    margin-bottom: 8px;
    > .label {
      font-size: 13px;
    }
    > .body {
      .tabs {
        bottom: -7px;
        position: relative;
        .tab {
          margin: 0 10px;
        }
      }
    }
  }
}
