@import "../../../styles/animations";
@import "../../../styles/variables";

.account-creation-members {
  &.is-loading {
    min-height: 615px;
  }

  h3 {
    font-size: 18.4px;
    letter-spacing: -0.4px;
    color: $black;
    font-weight: normal;
    margin: 0;
    margin-bottom: 37px;
  }

  .counter {
    text-transform: uppercase;
    font-size: 10px;
    color: $lead;
    font-weight: 600;
    float: right;
    margin-top: -57px;
  }
}
