@import '../../../styles/animations';
@import '../../../styles/variables';

.account-creation-members {
  &.is-loading {
    min-height: 615px;
  }

  h3 {
    font-size: 18.4px;
    letter-spacing: -0.4px;
    color: $black;
    font-weight: normal;
    margin: 0;
    margin-bottom: 37px;
  }

  .counter {
    text-transform: uppercase;
    font-size: 10px;
    color: $lead;
    font-weight: 600;
    float: right;
    margin-top: -57px;
  }

  .info {
    font-size: 11px;
    color: $lead;
    line-height: 1.82;
    margin: 0;

    &.approve {
      margin-bottom: $spacingS;
    }
  }

  .account-member-row {
    border-bottom: 1px solid $argile;
    outline: none;
    cursor: pointer;
    height: 70px;
    position: relative;
    padding-left: 50px;

    .member-avatar {
      position: absolute;
      top: 21px;
      left: 0;
    }

    &:last-child {
      border: 0;
    }

    .slidebox {
      float: right;
      margin-top: -20px;
    }
  }

  .name {
    display: inline-block;
    margin-top: 17px;
    color: $black;
    margin-bottom: 4px;
    font-size: 13px;
  }

  .role {
    margin: 0;
    font-size: 11px;
    color: $lead;
  }
}
