@import "../../styles/variables";

.tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 20px;
  &.header {
    border-bottom: 1px solid $argile;
  }
  &.inline {
  }
  .tab {
    opacity: 0.5;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;

    &:hover {
      cursor: pointer;
    }
    &:after {
      width: 100%;
      height: 0px;
      background-color: $ocean;
      content: " ";
      position: absolute;
      top: 27px;
      left: 0px;
      -webkit-transition: height 200ms ease;
      -o-transition: height 200ms ease;
      transition: height 200ms ease;
    }
  }
  .tab.selected {
    opacity: 1;
    &:after {
      height: 2px;
    }
  }
}
