@import "../../styles/variables";

.operation-details {
  width: 445px;

  .operation-status {
    margin-left: 8px;
  }

  .operation-details-scrollable {
    border: 1px solid red;
    max-height: 200px;
    overflow-y: hidden;

    .scrollable-inner {
      overflow-y: auto;
      height: 100%;
    }
  }

  .operation-details-tab {
    h4 {
      text-transform: uppercase;
      font-size: 11px;
      line-height: 23px;
      color: $black;
      font-weight: 600;
      margin-top: 0;
    }

    p {
      font-size: 13px;
      word-wrap: break-word;
    }
  }

  .operation-label-title {
    outline: none;
    font-size: 13px;
    color: $black;
    font-weight: 600;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $argile;

    &[placeholder]:empty:before {
      content: attr(placeholder);
      color: $argile;
    }
  }

  .operation-label-body {
    outline: none;
    font-size: 13px;
    color: $black;
    padding-bottom: 16px;
    margin-bottom: 16px;
    line-height: 20px;
    border-bottom: 1px solid $argile;

    &[placeholder]:empty:before {
      content: attr(placeholder);
      color: $argile;
    }
  }

  .operation-label-author {
    font-size: 11px;
    color: $lead;
  }

  .operation-list {
    border-collapse: collapse;
    width: 100%;

    strong {
      font-weight: 600;
      font-size: 13px;
    }

    tr {
      height: 47px;
      border-top: 1px solid $argile;

      td:first-child {
        font-weight: 600;
        font-size: 11px;
        text-transform: uppercase;
      }

      td:last-child {
        font-size: 13px;
        text-align: right;
      }
    }

    &.details {
      tr:first-child {
        border: 0px;
      }

      tbody tr td:first-child {
        font-weight: normal;
      }
    }
  }

  .fiat-amount {
    color: $lead;
    font-size: 11px;
    font-weight: 600;
  }
}
