@import "../../styles/variables";

body {
  overflow: hidden;
}

body,
.App {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow-y: auto;

  a {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.2s ease;
  }

  .material-icons {
    vertical-align: middle;
    font-size: inherit;
  }

  &.blurred {
    overflow: hidden;
  }
}

body.blurDialogOpened .App {
  filter: blur(3px);
}

// Clearfix
.Main {
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

.Menu,
.Content {
  float: left;
}

.Menu {
  width: $sidebarWidth;
  box-sizing: border-box;
  padding: 25px 35px 0 0;
}

.Content {
  width: calc(100% - #{$sidebarWidth + $spacingL });
  position: relative;
  margin: 0;
  margin-top: -80px;
  // margin: -80px $spacingL 0;
}

// Helpers

.blurred {
  filter: blur(3px);
}

.flipped {
  transform: scaleX(-1);
}

.react-tabs__tab-list {
  padding-bottom: 14px;
  border-bottom: 1px solid $mouse;
  margin: 0;
  padding: 0;
  padding-bottom: 14px;
}
.react-tabs__tab {
  display: inline;
  color: $black-5;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  margin-right: 30px;
  text-transform: uppercase;
  padding-bottom: 15px;
  outline: none;
}

.react-tabs__tab:hover,
.react-tabs__tab--selected {
  border-bottom: 2px solid $porto;
  color: $black;
}
