.account-card {
  .currencyName {
    margin-left: 8px;
  }

  .separator {
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
    margin: 20px 0px;
  }

  .cryptocur {
    font-size: 13px;
    color: #000000;
    margin-bottom: 20px;
  }

  .realcur {
    font-size: 13px;
    color: #767676;
  }

  .up {
    width: 8px;
    height: 8.5px;
    background-color: #27d0e2;
  }
}
