$steel:#767676;
$lead: #999999;
.DashboardFieldLabel {
	color: $steel;
	font-weight: 600;
	font-size: 10px;
}

.DeltaChange {
	color: $lead;
	font-size: 22px;
}

.uppercase {
    text-transform: uppercase;
}

.DashboardNumber {
	font-size: 22px;
}