.total-balance .body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total-balance {
  min-height: 180px;
  .evolution-since {
    min-width: 200px;
  }
  header {
    align-items: normal !important;
    padding-bottom: 30px;
    h3 {
      margin: 0px;
    }
  }
}
