@import "../../styles/variables";

.security-icon {
  display: inline-block;
  vertical-align: middle;
  fill: $mouse;
}
.security-members-icon {
  witdh: 15px;
  height: 13px;
}

.security-members-big-icon {
  height: 30px;
  fill: none;
  stroke: $mouse;
  stroke-width: 2px;
}

.security-ratelimiter-icon {
  witdh: 13px;
  height: 13px;
}

.security-ratelimiter-big-icon {
  height: 30px;
  stroke: $mouse;
  stroke-width: 2px;
  fill: none;
}

.security-quorum-icon {
  witdh: 13px;
  height: 13px;
}

.security-timelock-icon {
  witdh: 12px;
  height: 13px;
}
.security-timelock-big-icon {
  height: 30px;
  stroke: $mouse;
  fill: none;
  stroke-width: 2px;
}

.plug-icon {
  width: 32px;
  height: 20px;
  fill: none;
  stroke: $mouse;
  stroke-width: 2px;
  margin-bottom: 10px;
}

.menu-icon-dashboard {
  width: 11px;
  height: 9px;
  fill: black;
}

.menu-icon-pending {
  width: 11px;
  height: 9.5px;
  fill: black;
}

.menu-icon-search {
  width: 8.5px;
  height: 11px;
  fill: black;
}

.menu-icon-new-operation {
  width: 11px;
  height: 11px;
  fill: black;
}

.trash-icon {
  fill: none;
  width: 27px;
  height: 32px;
  stroke: $mouse;
  stroke-width: 2px;
  margin-bottom: 10px;
}
