@mixin highlight-block($color, $left) {
  &::before {
    content: '';
    background-color: $color;
    width: 5px;
    height: 26px;
    display: block;
    position: absolute;
    left: $left;
    bottom: calc(50% - (26px / 2));
    opacity: 0;
    transition: opacity .2s ease;
  }

  &:hover::before {
    opacity: 1;
  }
}