//
// Common variables
//

// Spacing
$spacingS: 20px;
$spacingL: 40px;

// Colors
$ledgerBlue: #20222C;
$highlightGreen: #41ccb4;
$white: #FFF;
$black: #000;
$gray: #999999;
$red: #ea2e49;


//
// Layout
//

// Sidebar
$sidebarWidth: 240px;

// Actionbar
$actionbarHeight: 200px;