$menuWidth: 190px;

.App {
  font-family: 'Open Sans';
  // transition: transform .1s;

  a {
    color: inherit;
    opacity: .5;
    text-decoration: none;
    transition: opacity .2s ease;

    &:hover {
      opacity: 1;
    }
  }

  .material-icons {
    vertical-align: middle;
    font-size: inherit;
  }
}

.Main {
  padding: 0 30px 0 40px;
}

// Clearfix
.Main::after {
  content: "";
  clear: both;
  display: block;
}

.Menu,
.Content {
  float: left;
}

.Menu {
  width: $menuWidth;
}

.Content {
  width: calc(100% - #{$menuWidth});
  position: relative;
  margin-top: -80px;
}

// Helpers

.blurred {
  filter: blur(5px);
  transform: scale(1.01);
}

.flipped {
  transform: scaleX(-1);
}