$menuWidth: 200px;
$menuPaddingLeft: 40px;
$menuPaddingRight: 40px;

.App {
  font-family: 'Open Sans';

  a {
    color: inherit;
    opacity: .5;
    text-decoration: none;
    transition: opacity .2s ease;

    &:hover {
      opacity: 1;
    }
  }

  .material-icons {
    vertical-align: middle;
  }
}

// Clearfix
.Main::after {
  content: "";
  clear: both;
  display: block;
}

.Menu,
.Content {
  float: left;
}

.Menu {
  width: $menuWidth;
  padding-left: $menuPaddingLeft;
  padding-right: $menuPaddingRight;
}

.Content {
  width: calc(100% - #{$menuWidth + $menuPaddingRight + $menuPaddingLeft});
  position: relative;
  margin-top: -80px;
}

.blurred {
  filter: blur(5px);
}
