$menuWidth: 220px;

.App {
  font-family: 'Open Sans';
}

// Clearfix
.Main::after {
  content: "";
  clear: both;
  display: block;
}

.Menu,
.Content {
  float: left;
}

.Menu {
  width: $menuWidth;
}

.Content {
  width: calc(100% - #{$menuWidth});
  position: relative;
  margin-top: -80px;
}

.blurred {
  filter: blur(5px);
}
