@import 'mixins';
@import 'variables';

.Menu {
  ul {
    list-style-type: none;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 10px 0;
    position: relative;
  }

  a {
    @include highlight-block($porto, -40px);
  }

  .material-icons {
    font-size: 13px !important;
    margin-right: 10px;
  }

  .menu-badge {
    position: absolute;
    right: 0;
    background-color: $grenade;
    color: $white;
    padding: 0 .6em;
    border-radius: 1em;
  }
}