@import "../../../styles/mixins";
@import "../../../styles/variables";

.operation-creation-account {
  position: relative;
  padding: $spacingS 0;
  opacity: 0.5;
  z-index: 42;

  &:hover,
  &.selected {
    opacity: 1;
    cursor: pointer;

    &.bitcoin {
      @include highlight-block($bitcoin, -20px);
    }

    &.dogecoin {
      @include highlight-block($dogecoin, -20px);
    }

    &.litecoin {
      @include highlight-block($litecoin, -20px);
    }

    &.ethereum {
      @include highlight-block($ethereum, -20px);
    }
  }

  &:not(:last-child) {
    border-bottom: solid 1px $argile;
  }

  .account-balance,
  .account-countervalue {
    float: right;
  }

  .account-balance,
  .account-currency {
    font-weight: 600;
  }

  .account-currency {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 2;
  }

  .account-top,
  .account-countervalue {
    font-size: 13px;
    line-height: 1.54;
  }

  .account-botom {
    color: $steel;
  }
}
