.account-option {
  display: flex;
  flex-direction: row;
  .account-name-container {
    flex: 1;
    text-align: left;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
  }
}
