@import "../../styles/variables";

.vlt-textfield {
  padding-bottom: $spacingS;
  font-size: 13px;
  width: 100%;

  textarea {
    margin-bottom: 13px;
  }

  .vlt-textfield-input {
    font-size: 13px;
    padding-bottom: 15px;
  }
}
