@import "../../styles/variables";

.__react_component_tooltip.type-dark.vlt-tooltip {
  background-color: $porto;
  border-radius: 0;
  padding: 0;// $spacingS;
  &.show {
    opacity: 1;
  }
  &.place-top {
    margin-top: -15px;
    &::after {
      border-top: 15px solid $porto;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      bottom: -15px;
      left: 50%;
      margin-left: -15px;
    }
  }
  &.place-bottom {
    margin-top: 15px;
    &::after {
      border-bottom: 15px solid $porto;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      top: -15px;
      left: 50%;
      margin-left: -15px;
    }
  }
  &.place-left {
    margin-left: -15px;
    &::after {
      border-left: 15px solid $porto;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      right: -15px;
      top: 50%;
      margin-top: -15px;
    }
  }
  &.place-right {
    margin-left: 15px;
    &::after {
      border-right: 15px solid $porto;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      left: -15px;
      top: 50%;
      margin-top: -15px;
    }
  }
}
