@import "../../styles/variables";
@import "../../styles/mixins";

.security-scheme-row {
  position: relative;
  outline: none;
  height: 57.5px;
  line-height: 55px;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid $argile;
  }

  &:not(.disabled) {
    @include highlight-block($porto, -40px);
  }

  &.disabled {
    opacity: 0.5;
    cursor: initial;
  }

  &.error {
    @include highlight-block-active($grenade, -40px);
  }

  .security-label {
    font-size: 13px;
    color: $black;
    padding-left: 10px;
    display: inline-block;
  }

  .security-value {
    font-size: 13px;
    color: $lead;
    margin-right: 20px;
    float: right;
  }

  .security-arrow-right {
    fill: #000000;
    height: 5px;
    width: 8px;
    margin-left: 10.5px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2.5px;
  }
}
