table.data-table {
  width: 100%;
  th {
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    color: #767676;
  }
  td.countervalue,
  td.amount,
  th.amount {
    text-align: right;
  }
  td.date {
    font-size: 10px;
    font-weight: 600;
  }
  td.name {
    font-size: 13px;
  }
  td.countervalue {
    font-size: 13px;
    color: #767676;
  }
  td.amount {
    font-size: 13px;
    .currency-unit-value.sign-positive {
      font-weight: 600;
    }
  }
  tbody td {
    border-bottom: 1px solid #eee;
    height: 40px;
  }
  tbody tr:last-child td {
    border-bottom: none;
  }
}
