@import "../../styles/mixins";
@import "../../styles/variables";

$cardHeight: 30px;

.ActionBar {
  height: $actionbarHeight;
  background-color: $night;
  color: $white;
  position: relative;

  .profile-card {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    height: $cardHeight;
    width: $sidebarWidth;
    padding-left: $spacingL;
    margin-bottom: $spacingL + 9px;
    position: absolute;
    bottom: 0;
    opacity: 1;

    @include highlight-block($white, 0);
  }

  .profile-pic {
    width: $cardHeight;
    height: $cardHeight;
    float: left;
    background-color: $argile;
    border-radius: 50%;

    .profile-default-icon {
      height: 40%;
      margin-top: 30%;
      margin-left: 33%;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .profile-info {
    position: relative;
    height: 100%;
    margin-left: $cardHeight;
    padding-left: 20px;
  }

  .profile-name {
    font-size: 13px;
    text-transform: capitalize;
    line-height: 1em;
  }

  .profile-view-profile {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    transition: opacity 0.2s ease;
    line-height: 1em;
  }

  .profile-card:hover .profile-view-profile {
    opacity: 1;
  }

  .content-header {
    margin-left: $sidebarWidth;
    padding: 54px 38px 0 0;
  }

  .content-header-left {
    float: left;
  }

  .content-header-right {
    margin-right: -13px;
    margin-top: -7px;
    float: right;
  }

  .content-header-button {
    display: inline-block;
    text-align: center;
    font-weight: 600;
    margin: 0 14px;
    @include opacity(0.5);
  }

  .content-header-button-icon {
    font-size: 19px;
    line-height: 1em;
  }

  .content-header-button-text {
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 1px;
  }
}

.profile-bubble {
  font-size: 11px;
  padding-left: 20px;
  width: 140px;

  .profile-bubble-title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .profile-bubble-role {
    color: $lead;
  }

  .profile-bubble-divider {
    width: 95px;
    margin-top: $spacingS;
  }

  a {
    @include highlight-block($porto, -40px);
    display: block;
    position: relative;
    margin-top: $spacingS;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.5;

    &:first-child {
      margin: 0;
    }

    &:hover {
      opacity: 1;
    }
  }
}

// Hack preventing white border on blur
// .App.blurred .ActionBar {
//   margin: -1px -10px 0 -1px;
//   padding: 10px 10px 0 10px;
//   overflow: hidden;
// }
